[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pytest-cov = "*"
"pytest-flake8" = "*"
responses = "*"
pytest-runner = "*"

[packages]
rauth = "*"
requests = "*"
requests-cache = "*"
furl = "*"
arrow = "*"
pytest = "*"
responses = "*"

[requires]
python_version = "3.7"

[scripts]
test = "pytest tests"
cov = "pipenv run test --cov-report html:test-reports/coverage --cov annict -vv"
ci = "pipenv run cov --junit-xml=test-reports/pytest.xml"
